@(userForm: Form[models.users.Employee], addressForm: Form[models.users.Address], user: models.users.Employee)

@import models.users.Employee
@import helper._

@main("Add an employee", user){
    @if(flash.containsKey("error")) {
		<div class="alert alert-danger">
			@flash.get("error")
		</div>
	}

    <p class="lead">Add a new employee</p>

    @form(action=routes.LoginController.addEmployeeSubmit(), 'class -> "form-horizontal", 'role -> "form") {
        @CSRF.formField

            @inputText(userForm("email"), '_label -> "Email", 'class -> "form-control")
            @inputText(userForm("empFirstName"), '_label -> "First name", 'class -> "form-control")
            @inputText(userForm("empLastName"), '_label -> "Last name", 'class -> "form-control")
            @inputDate(userForm("dob"), args = 'size -> 10, '_label -> "Date Of Birth", 'class -> "form-control")
            @inputPassword(userForm("password"), '_label -> "Password", 'class -> "form-control")
            @inputText(userForm("mobileNumber"), '_label -> "Mobile number", 'class -> "form-control")

            @select(
                userForm("department.id"),
                options(Department.options),
                '_label -> "Department", '_default -> "-- Choose a department --",
                '_showConstraints -> false, 'class -> "form-control"
            )

            Address:
            @inputText(addressForm("number"), '_label -> "Number", 'class -> "form-control")
            @inputText(addressForm("street"), '_label -> "Street", 'class -> "form-control")
            @inputText(addressForm("city"), '_label -> "City", 'class -> "form-control")
            @inputText(addressForm("postCode"), '_label -> "Postcode", 'class -> "form-control")

            @inputText(userForm("role").copy(value=Some("employee")), '_label -> "",'hidden -> "hidden")
            
            <label>Upload profile picture</label>
            <input class="btn-sm btn-default" type="file" name="upload">    

            <div class="actions">
                <input type="submit" value="Add/Update Employee" class="btn btn-primary">
                <a href="@routes.HomeController.index">
                    <button type="button" class="btn btn-warning">Cancel</button>
                </a>
            </div>
    } @* end of form *@
} @* end of main *@