@(employees: List[models.users.Employee], user: models.users.Employee)
@main("Employees", user){
    <h1>Current employees</h1>

	@if(flash.containsKey("success")) {
		<div class="alert alert-success">
			@flash.get("success")
		</div>
}

   <div class="col-sm-9">
        <table class="table table-bordered table-hover table-condensed">
            <thead>
        <!-- The header row-->
        <tr>
            <th>Email</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Date of birth</th>
            <th>Mobile number</th>
        </tr>
        </thead>
        <tbody>
        <!-- Product row(s) -->
       
            @for(e <- employees) {
                @if(e.getRole() != "admin"){
               <tr>
                  <td>@e.getEmail</td>
                  <td>@e.getEmpFirstName</td>
                  <td>@e.getEmpLastName</td>
                  <td>@e.getDateOfBirthString</td>
                  <td>@e.getMobileNumber</td>
                  <!-- Update button -->
						<td>
							<a href="@routes.LoginController.updateAdmin(e.getEmail)" class="button-xs btn-danger">
								<span class="glyphicon glyphicon-pencil"></span>
							</a>
                        </td>
                  <!-- Delete button -->
						<td>
							<a href="@routes.LoginController.deleteAdmin(e.getEmail)" class="button-xs btn-danger" onclick="return confirmDel();">
								<span class="glyphicon glyphicon-trash"></span>
							</a>
                        </td>
               </tr>
                }
            }
        
        </tbody>
    </table>

    <p>
        <a href="@routes.LoginController.addEmployee()">
            <button class="btn btn-primary">Register a new employee</button>
        </a>
    </p>
</div>
 }