@(projects: List[models.Project], user: models.users.Employee)
@main("Projects", user) {
  <section class="content">
    
    <div class="col-sm-9">
      <table class="table table-bordered table-hover table-condensed">
        <thead>
          <tr>
            <th>Project Name</th>
            <th>Description</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <!-- Product row(s) -->

          @for(p <- projects) { <tr>
            <td>@p.getProjectName</td>
            <td>@p.getProjectDescription</td>
            <td>@p.getProjectStatus</td>
            
            @if(user != null){
              <!-- Update button -->
              <td>
                <a href="@routes.ProjectController.updateProject(p.getProjectId)" class="button-xs btn-danger">
                  <span class="glyphicon glyphicon-pencil"></span>
                </a>
              </td>
              <!-- Delete button -->
              @if("admin".equals(user.getRole())){
                <td>
                  <a href="@routes.ProjectController.deleteProject(p.getProjectId)" class="button-xs btn-danger"
                    onclick="return confirmDel();">
                    <span class="glyphicon glyphicon-trash"></span>
                  </a>
                </td>
              }
            }
            </tr>
          }

        </tbody>
      </table>

      <p>
        <a href="@routes.ProjectController.addProject()">
          <button class="btn btn-primary">Add a new project</button>
        </a>
      </p>

      @if(user != null) {
        <p>
            <a href="@routes.ProjectController.showMyProjects()">
              <button class="btn btn-primary">Show my projects</button>
            </a>
        </p>
      }
      
  </section>

}